[Unit]
Description={{.Description}}
Documentation={{.URL}}
After=network-online.target
Wants=network-online.target
After=cloud-config.service consul.service
Wants=cloud-config.service consul.service

[Service]
EnvironmentFile=-/etc/sysconfig/consul-template
ExecStart=/usr/bin/consul-template $EXTRA_OPTS
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
